html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #151515;
}

html, body {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.box {
	padding: 185px 0;
}

a {
	text-decoration: none;
	display: block;
}

li {
	display: inline-block;
}

ul {
	width: 100%;
	list-style: none;
}

h1 {
	text-transform: uppercase;
	font: 54px/54px 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}

h3 {
	text-transform: uppercase;
	font: 36px/36px 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}

h5 {
	font: 24px/24px 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}

p {
	font: 30px/30px 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}
.text-right {text-align: right;}
.text-left {text-align: left;}

.header {
	top: 20px;
	left: 0;
	right: 0;
	width: 1200px;
	padding: 20px 0;
	margin: 0 auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding-top: 25px;
	padding: 0 auto;
}

.container__navmenu li {
	padding-right: 30px;
}

.container__navmenu li:first-child {
	padding-right: 261px;
}

.container__navmenu li:last-child {
	padding-right: 0;
	padding-left: 291px;
}

.container__navmenu a {
	text-transform: uppercase;
	font: 24px 'Raleway', sans-serif;
	color: #fff;
}

.content {
	width: 1200px;
	height: 1980px;
	margin: 0 auto;
}

.content__info {
	width: 1200px;
	height: 325px;
}

.content__info h1 {
	font: 46px/46px 'Raleway', sans-serif;
	padding-top: 55px;
}

.content__info h5 {
	padding-top: 40px;
}

.content__section {
	width: 1200px;
	height: 713px;
}

.section__block {
	float: left;
	width: 50%;
	height: 713px;
}

.section__addinfo {
	width: 1200px;
	height: 300px;
}

.section__addinfo h3 {
	padding-top: 130px;
}

.section__slider {
	width: 1200px;
	height: 600px;

	margin-top: 50px;
}

.footer {
	width: 1200px;
	height: 160px;
	padding: 20px 0;
	margin: 0 auto;
}

.footer__text {
	text-align: center;
	padding: 30px 0;

	font: 24px 'Raleway', sans-serif;
	color: #fff;
}