html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #FFFFFF;
}

html, body {
	margin: 0;
	padding: 0;
}

* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.box {
	padding: 185px 0;
}

a {
	text-decoration: none;
	display: block;
}

li {
	display: inline-block;
}

ul {
	width: 100%;
	list-style: none;
}

h1 {
	text-transform: uppercase;
	font: 54px/54px 'Raleway', sans-serif;
	color: #000;
	text-align: center;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {clear: both;}

.left {float: left;}
.right {float: right;}
.text-right {text-align: right;}
.text-left {text-align: left;}

.header {
	top: 20px;
	left: 0;
	right: 0;
	width: 1200px;
	padding: 20px 0;
	margin: 0 auto;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding-top: 25px;
	padding: 0 auto;
}

.container__navmenu li {
	padding-right: 30px;
}

.container__navmenu li:first-child {
	padding-right: 261px;
}

.container__navmenu li:last-child {
	padding-right: 0;
	padding-left: 291px;
}

.container__navmenu a {
	text-transform: uppercase;
	font: 24px 'Raleway', sans-serif;
	color: #000;
}

.content {
	width: 1200px;
	height: 1635px;
	margin: 0 auto;
}

.content__banner {
	width: 1200px;
	height: 350px;
	margin: 0 auto;
	background: url(img/dcbanner.png) no-repeat center top;
	background-size: cover;
}

.content__text {
	width: 1200px;
	height: 195px;
}
	
.content__text h1 {
	text-align: center;
	text-transform: uppercase;
	font: 36px/36px 'Raleway', sans-serif;
	color: #000;

	padding: 61.5px 0;
}

.content__logos {
	width: 1200px;
	height: 700px;
}

.content__logos img {
	padding-left: 20px;
	padding-top: 3px;
}

/* Блоки с картинками получают ширнину в ОДНУ ПЯТУЮ от цельного блока,
обтекание слева */
.content__item {
	float: left;
	width: 20%;
	padding-top: 25px;
}

.content__prefooter {
	width: 1200px;
	height: 400px;
}

.prefooter__block {
	float: left;
	width: 33.33%;
}

.prefooter__block h1 {
	text-align: center;
	text-transform: uppercase;
	font: 36px/36px 'Raleway', sans-serif;
	color: #000;

	padding-top: 30px;
}

.prefooter__block {
	height: 400px;
	padding-top: 125px;
	padding-bottom: 125px;
}

a img {
	padding: 0 124px;
}

.footer {
	width: 1200px;
	height: 160px;
	padding: 20px 0;
	margin: 0 auto;
}

.footer__text {
	text-align: center;
	padding: 30px 0;

	font: 24px 'Raleway', sans-serif;
	color: #000;
}